/* .header{
    background-color: #1c99b3;
} */

@media(min-width: 1257px){


.jumbotron{
    background-image: url("img\break-the-ice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.hero{
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

}

.btnWide{
    width: 100%
}